<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="">Username:</label>
        <input name="username" type="text">
        <label for="">Address</label>
        <input type="text" name="address" id="">
        <label for="">Student_id</label>
        <input type="text" name="student_id" id="">
        <button type="submit">Register </button>
    </form>
    
    <p>Already have an account ?</p> <a href="{{url_for('login')}}">Login Here</a>
</body>
</html>