<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        <label for="">name</label>
        <input value="{{student.name}}" name="name" type="text">
        <label for="">Address</label>
        <input value="{{student.address}}" name="address" type="text">
        <label for="">Age</label>
        <input value="{{student.age}}" name="age" type="text">
        <label for="">Email</label>
        <input value="{{student.email}}" name="email"type="text">
        <button>Update</button>
        </label>
    </form>
</body>
</html>